<?xml version="1.0" encoding="UTF-8" ?>
<Configuration
	xmlns="http://logging.apache.org/log4j/2.0/config"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config 
           https://raw.githubusercontent.com/apache/logging-log4j2/log4j-2.8.2/log4j-core/src/main/resources/Log4j-config.xsd"
	status="WARN">
	
	<Filters>
		<RegexFilter regex=".*oauth.*" onMatch="DENY" onMismatch="ACCEPT"/>
	</Filters>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{dd-MM-yyyy HH:mm:ss} %-5level %logger{2} - %msg%n" />
		</Console>

		<RollingFile name="file-log"
			fileName="log/bot.txt"
			filePattern="logs/log-%d{yyyy-MM-dd}.txt">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>
	
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" level="info"/>
			<AppenderRef ref="file-log" level="debug"/> 
		</Root>
	</Loggers>
</Configuration>